transformers==4.28.0
datasets==1.17.0
deepspeed==0.8.3
fairscale==0.4.5
ipython==8.13.2
nltk==3.8.1
tensorboard==2.13.0
tqdm==4.65.0
rouge_score
wandb==0.12.10
sentencepiece==0.1.96
protobuf==3.20.3
ninja==1.11.1
accelerate==0.19.0